    <dict>
      <key>NSMessage</key>
      <string>{{MESSAGE}}</string>
      <key>NSMenuItem</key>
      <dict>
        <key>default</key>
        <string>{{MENU}}</string>
      </dict>
      <key>NSPortName</key>
      <string>{{HOST}}</string>
      <key>NSSendFileTypes</key>
      <array>
        <string>public.folder</string>
      </array>
      <key>NSRequiredContext</key>
      <dict>
        <key>NSApplicationIdentifier</key>
        <string>com.apple.finder</string>
      </dict>
    </dict>
